<!DOCTYPE html>
<html>
<!-- calling partial HEAD -->
<%- include("./partials/head.ejs") %>
<body>
    <!-- NAV.EJS -->
    <%- include("./partials/nav.ejs") %>

    <section class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" doc-data=" <%= blog._id %> ">X delete</a>
    </section>

    <!-- calling the FOOTER.EJS partial -->
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>