<!DOCTYPE html>
<html>
<!-- calling partial HEAD -->
<%- include("./partials/head.ejs") %>
<body>
    <!-- calling partials NAV.EJS -->
    <%- include("./partials/nav.ejs") %>

    <section class="blogs content">
        <h2>All Blogs</h2>
        <!-- calling the EJS blogs, and displaying the information -->
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => {  %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <img src=<%= blog.image %> alt=""> 
                    <h3 class="blog-title"> <%= blog.title %> </h3>
                    <p class="blog-snippet"> <%= blog.snippet %></p>
                </a>
            <% }) %>
        <% } else { %>
            <p> There are no blog posts to display</p>
        <% } %>
    </section>

    <!-- calling the FOOTER.EJS partial -->
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>