<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NN - EJS + Express | <%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <!-- calling partials NAV.EJS -->
    <%- include("./partials/nav.ejs") %>

    <section class="blogs content">
        <h2>All Blogs</h2>
        <!-- calling the EJS blogs, and displaying the information -->
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => {  %>
                <h3 class="blog-title"> <%= blog.title %> </h3>
                <p class="blog-snippet"> <%= blog.snippet %></p>
            <% }) %>
        <% } else { %>
            <p> There are no blog posts to display</p>
        <% } %>
    </section>

    <!-- calling the FOOTER.EJS partial -->
    <%- include("./partials/footer.ejs") %>
</body>
</html>